/* Adding CSS Reset Code from http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Adding HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -------------------------------------------------------------
                            CUSTOM STYLES                       
---------------------------------------------------------------*/
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}

*,
*:after,
*:before {
    box-sizing: inherit;
    line-height: inherit;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

/* LoVe HAte */
a,
a:link,
a:visited {
    color: inherit;
}

a:hover,
a:focus {
    color: #c78c06;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
}

.nav-list img {
    max-width: 70px;
}

.main-nav {
    background-color: #222;
    background-size: cover;
}

.nav-list {
    text-align: center;
    color: #c78c06;
    margin: 0 auto;
    padding: 1em;
}

.active {
    background-color: #c78c06;
    color: #222;
}

/* LoVe HAte seudoclasses added Link, visited, Hover, Action Always styling the navigation*/
.nav-list a,
.nav-list a:link,
.nav-list a:visited {
    display: block;
    padding: 1em 0;
    text-decoration: none;
}

.nav-list a:hover,
.nav-lista:focus,
.nav-list a.current {
    background-color: #c78c06;
    color: inherit;
}

/* REVIEW!!!! */
.nav-list {
    justify-content: space-evenly;
}

.nav-list li {
    flex-direction: column;
    width: 100%;
}

.nav-list div:nth-child(7) {
    flex-wrap: wrap;
    flex-basis: 80%;
}

.btn-search {
    background-color: #222;
    border: 1px solid #c78c06;
    color: #c78c06;
}

/* REVIEW!!! */

/* Header Styles */
.banner {
    height: 600px;
    background: url("../images/main-banner.jpg") no-repeat center center;
    background-size: cover;
}

.banner-info {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .5);
    padding: 1em;

}

h1 {
    font-size: 4em;
    color: white;
}

.banner-info p {
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

/* About Us Section Styles */

.about-us {
    background-color: #ffe6ac;
    ;
}

.content {
    margin: 0 auto;
    padding: 1em;
}

.content img {
    width: 100%;
}