/* Adding CSS Reset Code from http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Adding HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -------------------------------------------------------------
                            CUSTOM STYLES                       
---------------------------------------------------------------*/
/* Mobile first */

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}

*,
*:after,
*:before {
    box-sizing: inherit;
    line-height: inherit;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

/* LoVe HAte */
a,
a:link,
a:visited {
    color: inherit;
}

/* Navigation List Styles */

a:hover,
a:focus {
    color: #c78c06;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
}

.nav-list img {
    max-width: 80px;
}

.logo {
    text-align: left;
}

.main-nav {
    background-color: #222;
    background-size: cover;
}

.nav-list {
    text-align: center;
    color: #c78c06;
    margin: 0 auto;
    padding: 1em;
}

.active {
    background-color: #c78c06;
    color: #222;
}

/* LoVe HAte seudoclasses added Link, visited, Hover, Action Always styling the navigation*/
.nav-list a,
.nav-list a:link,
.nav-list a:visited {
    display: block;
    padding: 1em 0;
    text-decoration: none;
}

.nav-list a:hover,
.nav-lista:focus,
.nav-list a.current {
    background-color: #c78c06;
    color: inherit;
}

.input-search {
    display: flex;
}


.input-search button {
    background: none;
    border: 1px solid #c78c06;
    color: #c78c06;
    height: 2.5em;
    flex-basis: 33px;
}

.input-search input {
    height: 2.5em;
    flex-grow: 1;
}

.input-search button,
input {
    display: inline-block;
    vertical-align: middle;
}

#search {
    color: gray;
}

/* Header Styles */
.banner {
    height: 600px;
    padding-top: 100px;
    background: url("../images/main-banner.jpg") no-repeat center center;
    background-size: cover;
}

.banner-info {
    background-color: rgba(0, 0, 0, .5);
    padding: 1em;
}

h1 {
    font-size: 5em;
    color: white;
    padding-top: 0.5em;
}

.banner-info p {
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

.btn-light {
    background: #c78c06;
    border: none;
    padding: 2em;
    font-size: 12px;
    font-family: 'Open Sans',
        sans-serif;
}

/* About Us Section Styles */

.about-us {
    background-color: #ffe6ac;
    ;
}

.content {
    margin: 0 auto;
    padding: 1em;
}

.content img {
    width: 100%;
}

h2 {
    font-size: 3.5em;
    padding-top: .5em;
}

.about-us p {
    padding-top: 1em;
    padding-bottom: 1em;
}

/* Our Services Styles */

.our-services {
    padding: 1em;
}


.digital,
.marketing,
.video,
.web,
.print {
    background-color: #ffe6ac;
    margin-top: 1em;
}

.digital,
.marketing,
.video,
.web,
.print,
img {
    width: 100%;
}

h3 {
    font-size: 2.4em;
}

.digital-content,
.marketing-content,
.video-content,
.web-content,
.print-content {
    padding: 1em;
}

.our-services p {
    padding-bottom: 1em;
    padding-top: 1em;
}

.btn-dark {
    background-color: black;
    color: white;
    padding: 1.5em;
    border: none;
    font-family: 'Open Sans',
        sans-serif;
}

.im {
    font-size: 1em;
}

/* Our Vision Styles */

.our-vision {
    background: url("../images/vision.jpg") no-repeat center;
    background-size: cover;
}

.our-vision h4 {
    color: white;
    font-size: 2em;
}

.our-vision p {
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

.vision {
    padding: 1em;
}

.btn-medium {
    background-color: rgba(0, 0, 0, .5);
    color: white;
    padding: 1.5em;
    border: .5px solid #c78c06;
}

/* Our Team Styles */

.our-team {
    padding: 1em;
}

.john,
.bob {
    background-color: #ffe6ac;
    padding: 1em;
    margin-bottom: 1em;
}

.team img {
    margin-bottom: 0em;
    display: block;
}

hr {
    border: 1px solid #c78c06;
}

/* Contact Us Styles */

.contact-us {
    padding: 1em;
}

.contact-form input {
    width: 100%;
    margin-bottom: 0.5em;
}

.contact-form textarea {
    width: 100%;
    margin-bottom: 0.5em;
    height: 200px;
}

.btn-small {
    background-color: black;
    color: #c78c06;
    border: none;
}

.contact h2 {
    padding-bottom: 0.5em;
}

/* Hours of Operation Styles */

.hours h3 {
    padding-top: .5em;
}

.table {
    border: 1px solid gray;
    width: 100%;
    margin-bottom: 1em;
}

.table th:nth-child(n),
.table td:nth-child(n) {
    border: 1px solid black;
    padding: 1em;
}

.table th {
    background-color: #ffe6ac;
}

.location iframe {
    width: 100%
}

.site-footer {
    background-color: #222;
    color: #c78c06;
    padding: 1em;
}

.footer p {
    padding-top: 1em;
}

/*-------------------------------------------------------------------------
                  DESKTOP STYLES------------------------------------------*/

@media screen and (min-width: 760px) {
    html {
        font-size: 15px;
    }

    /* Navigation List*/

    .nav-list {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        font-size: 14px;
        align-items: center;
    }

    .nav-list li {
        flex: 1;
    }

    /* Main Banner Section */


    .banner-info {
        max-width: 1200px;
        margin: 0 auto;
    }

    .banner-info h1 {
        font-size: 5.5em;
    }

    .btn-light {
        font-size: 16px;
        width: 23%;
    }

    /* About Us section */

    .content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex: 1;
    }

    .content img {
        max-width: 600px;
    }

    .about-us-info {
        margin-left: 1em;
    }

    .about-us-info h2 {
        font-size: 3em;
    }

    /* Our Services Section */

    .our-services-info h2 {
        font-size: 3em;
        margin-bottom: -.5em;
    }

    .our-services-info {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 3, 1fr;
        grid-template-areas:
            "one one one one one one"
            "two two two three three three"
            "four four five five six six";
        gap: 1em;
    }

    .our-services-info h2 {
        grid-area: one;
    }

    .digital {
        grid-area: two;
    }

    .marketing {
        grid-area: three;
    }

    .video {
        grid-area: four;
        margin-top: -0.2em;
    }

    .web {
        grid-area: five;
        margin-top: -0.2em;
    }

    .print {
        grid-area: six;
        margin-top: -0.2em;
    }

    .btn-dark {
        width: 100%;
        padding: 2em;
        font-size: 16px;
    }

    /* Our Vision Section */

    .vision {
        max-width: 1200px;
        margin: 0 auto;
    }

    .btn-medium {
        width: 15%;
        font-size: 1.2em;
    }

    /* Our Team Section */

    .team h2 {
        font-size: 3em;
    }


    .team img {
        max-width: 600px;
    }

    .team {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 3,
            1fr;
        grid-template-areas:
            "seven seven"
            "eight nine"
            "ten eleven";
    }

    .team h2 {
        grid-area: seven;
    }

    .john-image {
        grid-area: eight;
    }

    .john {
        grid-area: nine;
        margin-bottom: -1em;
    }

    .bob {
        grid-area: ten;
        margin-bottom: 0;
    }

    .bob-image {
        grid-area: eleven;
    }

    /* Contact Us Styles */

    .contact h2 {
        font-size: 3em;
        padding-bottom: 0em;
    }

    .contact {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 3,
            1fr;
        grid-template-areas:
            "head head"
            "message location"
            "hours hours";
        gap: 1em;
    }

    .contact h2 {
        grid-area: head;
    }

    .message {
        grid-area: message;
    }

    .location {
        grid-area: location;
    }

    .hours {
        grid-area: hours;
    }

    .btn-small {
        font-size: 1.2em;
    }

    /* Footer Styles */
    .footer {
        max-width: 1200px;
        margin: 0 auto;
    }
}